{# src/Osel/EventBundle/Resources/views/events/form.html.twig #}

{% extends "OSELCoreBundle:Core:layout.html.twig" %}

			{% block head %}
            {% endblock %}


{% block body %}
<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ title }}</h3>
            </div>
                    <div class="panel-body">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal custom-form', 'style': 'margin:15px;'}}) }}
                        {% if form.user is defined %}
                            <div class="row">
                                <div class="col-md-12" style="text-align:left;">
                                    <div class="jumbotron" style="padding-top:20px;padding-bottom:20px;padding-right:0px;padding-left:20px;">
                                        <div class="row">
                                            <div class="col-md-12"><span style="font-size:17px;font-weight:bold;font-style:italic;">Membre à inscrire: </span></div>
                                        </div>
                                        <div class="col-sm-4" style="font-size:12px;">
                                            {{ form_label(form.user, "Membre: ", {'label_attr': {'class': 'control-label'}}) }}
                                        </div>
                                        <div class="col-sm-4">
                                            {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-12" style="text-align:left;">
                                <div class="jumbotron" style="padding-top:20px;padding-bottom:20px;padding-right:0px;padding-left:20px;">
                                    <div class="row">
                                        <div class="col-md-12"><span style="font-size:17px;font-weight:bold;font-style:italic;">Présence: </span></div>
                                    </div>
                                    <div class="col-sm-4" style="font-size:12px;">
                                        {{ form_label(form.presence, "Sera présent: ", {'label_attr': {'class': 'control-label'}}) }}
                                    </div>
                                    <div class="col-sm-4">
                                        {{ form_widget(form.presence) }}
                                    </div>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="jumbotron" style="padding-top:20px;padding-bottom:20px;">
                                        <div class="form-group" style="margin-right:0px;margin-left:0px;text-align:center;">
                                            <div class="row">
                                                <div class="col-md-12"><span style="font-size:17px;font-weight:bold;font-style:italic;">Sera la pour: </span></div>
                                            </div>                                            {% for event in form.subEvents.children %}
                                                <div class="col-md-3 col-sm-6 col-xs-6" style="/*width:100px;*/display:block;height:50px;text-align:center;">
                                                    <div class="row">
                                                        <div class="col-md-12" style="padding-right:0px;padding-left:0px;text-align:center;">
                                                            {{ event.vars.label }}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            {{ form_widget(event) }}
                                                        </div>
                                                    </div>
                                                </div>

                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="text-align:left;">
                                    <div class="jumbotron" style="padding-top:20px;padding-bottom:20px;padding-right:0px;padding-left:20px;">
                                        <div class="row">
                                            <div class="col-md-12"><span style="font-size:17px;font-weight:bold;font-style:italic;">Transport: </span></div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-4" style="font-size:12px;">
                                                {{ form_label(form.transport, "Moyen de transport: ", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-sm-4">
                                                {{ form_widget(form.transport, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4" style="font-size:12px;">
                                                {{ form_label(form.city, "Départ de: ", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-sm-4">
                                                {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4" style="font-size:12px;">
                                                {{ form_label(form.dateArrival, "Départ le: ", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-md-4" style="padding-right:15px;padding-left:15px;width:250px;">
                                                <div class="row" style="margin-right:0px;margin-left:0px;">
                                                    <div class="input-group date" id='datetimepicker1'>
                                                        {{ form_widget(form.dateArrival, {'attr': {'class': 'form-control'}}) }}
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4" style="font-size:12px;">
                                                {{ form_label(form.dateDeparture, "Retour le: ", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-sm-4" style="padding-right:15px;padding-left:15px;width:250px;">
                                                <div class="row" style="margin-right:0px;margin-left:0px;">
                                                    <div class="input-group date" id='datetimepicker2'>
                                                        {{ form_widget(form.dateDeparture, {'attr': {'class': 'form-control'}}) }}
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4" style="font-size:12px;">
                                                {{ form_label(form.nbPlaces, "Nombre de places dans la voiture: ", {'label_attr': {'class': 'control-label'}}) }}
                                            </div>
                                            <div class="col-sm-4">
                                                {{ form_widget(form.nbPlaces, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="form-group">
                            <div class="btn-group" role="group">
                                {{ form_widget(form.save, {'attr': {'class': 'btn btn-success btn-sm submit-button'}}) }}
                                <button class="btn btn-info btn-sm" type="reset" disabled="disabled">Reset </button>
                            </div>
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
        </div>
    </div>
</div>



{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(function () {
            var dateOne = $('#datetimepicker1').children('input').val();
            var dateTwo = $('#datetimepicker2').children('input').val();
            $('#datetimepicker1').datetimepicker({
                date: dateOne
            });
            $('#datetimepicker2').datetimepicker({
                date: dateTwo,
                useCurrent: false //Important! See issue #1075
            });
            $("#datetimepicker1").on("dp.change", function (e) {
                $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker2").on("dp.change", function (e) {
                $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
{% endblock %}

