{# src/Osel/EventBundle/Resources/views/inscriptions/index.html.twig #}

{% extends "OSELCoreBundle::layout.html.twig" %}

{% block title %}
    Liste des inscriptions
{% endblock %}

{% block head %}
    <script src="{{ asset('bundles/oselevent/js/payement.js') }}"></script>
    <script src="{{ asset('js/delete.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>

                <div class="modal-body">
                    <p>You are about to delete one track, this procedure is irreversible.</p>
                    <p>Do you want to proceed?</p>
                    <p class="debug-url"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des inscriptions du weekend: {{ event.title }}</h3></div>
                <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <select class="input-sm selectMembres" style="width:180px;min-width:180px;height:22px;padding-top:0px;padding-bottom:0px;">
                                    <option value="{{ path('osel_event_list_inscription', {'id': id, 'page': page , 'criteria': criteria, 'desc': desc, presence: '1', 'nbPerPage':nbPerPage}) }}" {% if presence %}selected=""{% endif %}>Présents</option>
                                    <option value="{{ path('osel_event_list_inscription', {'id': id, 'page': page , 'criteria': criteria, 'desc': desc, presence: '0'}) }}" {% if not presence %}selected=""{% endif %}>tous les inscrits</option>
                                </select>
                            </div>
                            <div class="col-md-4 col-sm-3">
                                <div class="btn-group" role="group" style="min-width:180px;">
                                    <button class="btn btn-info btn-xs" type="button" onclick="window.location.href='{{ path('osel_event_add_individual_inscription', {'id': event.id}) }}'">Ajouter une inscription</button>
                                    <button class="btn btn-warning btn-xs" type="button" onclick="window.location.href='{{ path('osel_event_list_inscription_simple', {'id': id, 'page': page , 'criteria': criteria, 'desc': desc, 'presence': presence, 'nbPerPage':nbPerPage}) }}'">Vue Simple</button>
								</div>
                            </div>
							<div class="col-md-3 col-sm-3">
									<select class="input-sm selectMembres" style="width:180px;min-width:180px;height:22px;padding-top:0px;padding-bottom:0px;">
										<option value="{{ path('osel_event_list_inscription', {'id': id, 'page': page , 'criteria': criteria, 'desc': desc, 'presence': presence, 'nbPerPage': 20}) }}" {% if nbPerPage == 20 %}selected=""{% endif %}>Afficher 20</option>
										<option value="{{ path('osel_event_list_inscription', {'id': id, 'page': page , 'criteria': criteria, 'desc': desc, 'presence': presence, 'nbPerPage': 30}) }}" {% if nbPerPage == 30 %}selected=""{% endif %}>Afficher 30</option>
										<option value="{{ path('osel_event_list_inscription', {'id': id, 'page': page , 'criteria': criteria, 'desc': desc, 'presence': presence, 'nbPerPage': 50}) }}" {% if nbPerPage == 50 %}selected=""{% endif %}>Afficher 50</option>
										<option value="{{ path('osel_event_list_inscription', {'id': id, 'page': page , 'criteria': criteria, 'desc': desc, 'presence': presence, 'nbPerPage': 100}) }}" {% if nbPerPage == 100 %}selected=""{% endif %}>Afficher 100</option>
									</select>
								</div>

                        </div>
                        </br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-condensed">
                                    <thead style="font-size:12px;">
                                    <tr>
                                        <th><a href="{% if criteria == 'lastname' and desc == 0 %}{{ path('osel_event_list_inscription', {'id': id, 'page': page , 'criteria': 'lastname', 'desc': '1', 'nbPerPage':nbPerPage}) }}{% else %}{{ path('osel_event_list_inscription', {'id': id, 'page': page , 'criteria': 'lastname', 'desc': '0', 'nbPerPage':nbPerPage}) }}{% endif %}">Nom</a></th>
                                        <th>Prénom</th>
                                        <th><a href="{% if criteria == 'city' and desc == 0 %}{{ path('osel_event_list_inscription', {'id': id, 'page': page , 'criteria': 'city', 'desc': '1', 'nbPerPage':nbPerPage}) }}{% else %}{{ path('osel_event_list_inscription', {'id': id, 'page': page , 'criteria': 'city', 'desc': '0', 'nbPerPage':nbPerPage}) }}{% endif %}">Part de</a></th>
                                        <th><a href="{% if criteria == 'transport' and desc == 0 %}{{ path('osel_event_list_inscription', {'id': id, 'page': page , 'criteria': 'transport', 'desc': '1', 'nbPerPage':nbPerPage}) }}{% else %}{{ path('osel_event_list_inscription', {'id': id, 'page': page , 'criteria': 'transport', 'desc': '0', 'nbPerPage':nbPerPage}) }}{% endif %}">Moyen de transport</a></th>
                                        <th><a href="{% if criteria == 'nbPlaces' and desc == 0 %}{{ path('osel_event_list_inscription', {'id': id, 'page': page , 'criteria': 'nbPlaces', 'desc': '1', 'nbPerPage':nbPerPage}) }}{% else %}{{ path('osel_event_list_inscription', {'id': id, 'page': page , 'criteria': 'nbPlaces', 'desc': '0', 'nbPerPage':nbPerPage}) }}{% endif %}">Nombre de places</a></th>
                                        {% for sub in listSub %}
                                            <th>{{ sub.title }}</th>
                                            {% else %}
                                                <td colspan="8">Il 'y a pas d'évènements!!!</td>
                                        {% endfor %}
                                        <th>Prix</th>
                                        <th><a href="{% if criteria == 'paye' and desc == 0 %}{{ path('osel_event_list_inscription', {'id': id, 'page': page , 'criteria': 'paye', 'desc': '1'}) }}{% else %}{{ path('osel_event_list_inscription', {'id': id, 'page': page , 'criteria': 'paye', 'desc': '0', 'nbPerPage':nbPerPage}) }}{% endif %}">A payé</a></th>
                                        {% if is_granted('ROLE_WEEKEND') %}
                                            <th class="hidden-xs">action </th>{% endif %}
                                    </tr>
                                    <tr>
                                        <th colspan="3">participants: {{ nbParticipants }}</th>
										<th colspan="2">inscrits: {{ nbSubscribe }}</th>
                                        {% for a in listSub %}
                                            <th>{{ a.nbSubscriptions }}</th>
                                            {% endfor %}
                                        <th><span id="prixTotal">{{ prixTotal }}</span></th>
                                        <th><span id="payeTotal">{{ payeTotal }}</span></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody style="font-size:10px;">

                                    {% for user in listInscriptions%}
                                                <tr>
                                                    <td>{{ user.user.lastname }}</td>
                                                    <td>{{ user.user.name }}</td>
                                                    {% if not user.presence %}
													<td colspan="3"></td>
                                                    {% else %}
                                                    <td>{{ user.city }}</td>
                                        <td style="{% if user.transport == 'Cherche covoiturage' %}color: red;{% elseif user.transport == 'Voiture' %}color: green;{% endif %}"><strong>{{ user.transport }}</strong></td>
                                                    <td>{{ user.nbPlaces }}</td>
                                                    {% endif %}
                                        {% for subevent in listSub %}
                                            {% set temp = false %}
                                                {% for userevent in user.subEvents %}
                                                    {% if userevent.id == subevent.id %}
                                                        {% set temp = true %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% if not user.presence%}
                                                {% elseif temp %}
                                                    <td><i class="state-icon glyphicon glyphicon-check"></i></td>
                                                {% else %}
                                                    <td><i class="state-icon glyphicon glyphicon-unchecked"></i></td>
                                                {% endif %}
                                                {% endfor %}
                                                    {% if not user.presence %}
                                                    <td colspan="{{ listSub|length }}">Ce membre ne sera pas présent</td>
													<td colspan="2"></td>
                                                    {% else %}
                                                    <td><span {% if is_granted('ROLE_SECRETAIRE') %}class="textToModify"{% endif %} data-id="{{ user.id }}">{{ user.prix }}</span></td>

                                                    <td id="inscription_{{ user.id }}">{% if is_granted('ROLE_TRESORIER') %}<a class="inscription_activate" href="{{ path('osel_event_inscription_complete', {'id': user.id, 'idEvent': event.id}) }}" obj="{{ user.id }}">{% endif %}{% if user.paye %} <i class="state-icon glyphicon glyphicon-check"></i>{% else %}<i class="state-icon glyphicon glyphicon-unchecked"></i>{% endif %}{% if is_granted('ROLE_TRESORIER') %}</a>{% endif %}</td>
                                                    {% endif %}
                                                    {% if is_granted('ROLE_WEEKEND') %}
                                                        <td class="hidden-xs">
                                                            <div class="btn-group" role="group" style="min-width:136px;">
                                                                <button class="btn btn-success btn-xs visible-xs-inline visible-sm-inline visible-md-inline visible-lg-inline" type="button" style="height:19px;font-size:10px;" onclick="window.location.href='{{ path('osel_event_modify_inscription', {'id': user.id, 'idEvent': event.id}) }}'">Modifier </button>
                                                                <button class="btn btn-danger btn-xs visible-xs-inline visible-sm-inline visible-md-inline visible-lg-inline" type="button" style="height:19px;padding-top:0px;padding-bottom:0px;font-size:10px;"  data-href = "{{ path('osel_event_delete_inscription', {'id': user.id}) }}" data-toggle="modal" data-target="#confirm-delete" {% if not is_granted('ROLE_WEEKEND') %}Disabled{% endif %}>Supprimer </button>
                                                            </div>
                                                        </td>
                                                    {% endif %}

                                                </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="8">Il n'y a pas encore d'inscrits!!!</td>
                                        </tr>

                                    {% endfor %}

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="8">
                                            <nav style="margin-top:-18px;margin-bottom:-24px;">
                                                <ul class="pagination pagination-sm">
                                                    <li><a aria-label="Previous" href="{{ path('osel_event_list_inscription', {'id': id, 'page': page-1 , 'criteria': criteria, 'desc': desc, 'nbPerPage':nbPerPage, 'presence': presence}) }}"><span aria-hidden="true">«</span></a></li>
                                                    {% for p in range(1, nbPages) %}
                                                        <li{% if p == page %} class="active"{% endif %}>
                                                            <a href="{{ path('osel_event_list_inscription', {'id': id, 'page': p , 'criteria': criteria, 'desc': desc, 'nbPerPage':nbPerPage, 'presence': presence}) }}">{{ p }}</a>
                                                        </li>
                                                    {% endfor %}
                                                    <li><a aria-label="Next" href="{{ path('osel_event_list_inscription', {'id': id, 'page': page+1 , 'criteria': criteria, 'desc': desc, 'nbPerPage':nbPerPage, 'presence': presence}) }}"><span aria-hidden="true">»</span></a></li>
                                                </ul>

                                            </nav>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {

            $(".selectMembres").change(function () {
                var $href = $(this).children(":selected").attr('value');

                window.location.href = $href;
            });
        });
    </script>



{% endblock %}