{# src/Osel/MusicsheetBundle/Resources/views/Musicsheet/index.html.twig #}

{% extends "OSELCoreBundle::layout.html.twig" %}

{% block title %}
    Page d'administration - Liste Partitions - {{ parent() }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('bundles/musicsheets/css/style.css') }}">
    <script src="{{ asset('bundles/musicsheets/js/modal.js') }}"></script>
    <script src="{{ asset('bundles/musicsheets/js/musicsheets_arb_user.js') }}"></script>

{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <h3 class="panel-title">Toutes les Partitions</h3></div>
                    <div class="panel-body">
                        <ol class="breadcrumb" style="padding-bottom:0px;" id="hierarchie">
                            <!--<li class="globalButton" href="/web/app_dev.php/Musicsheet/getComposers"><a><span>Compositeurs</span></a></li>-->
                        </ol>
                        <ul class="list-group checked-list-box" id="output_list">
                            {% for composer in composers%}
                                <li class="list-group-item composerButton" href="{{ path('osel_musicsheet_get_musicsheets_user', {'id': composer.id}) }}"><span>{{ composer.composer }} </span><i class="glyphicon glyphicon-triangle-right" style="float:right;"></i></li>
                            {% else %}
                                <p>Il n'y a pas de partitions à télécharger!!!</p>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!--
            <div class="col-md-6">
                <div class="panel panel-default" id="output_form">
                    <div class="panel-heading">
                        <h3 class="panel-title">Vos Partitions</h3></div>
                    <div class="panel-body">
                        <ul class="list-group checked-list-box" id="output_list">
                            {% for part in parts %}
                                <li class="list-group-item partButton" href="{{ path('osel_musicsheet_download_part', {'id': part.id}) }}"><span>{{ part.title }}</span></li>
                            {% else %}
                                <p>Il n'y a pas de partitions à télécharger!!!</p>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>

{% endblock %}