
                        <div class="panel-heading">
                            <h3 class="panel-title">Ajouter des partitions</h3></div>
                        <div class="panel-body">
                            {{ form_start(musicsheetForm) }}
                                <div class="form-group">
                                    <div class="col-md-12">
										{{ form_label(musicsheetForm.title, "Titre du morceau:", {'label-attr': {'class': 'control-label'}}) }}
                                    </div>
                                    <div class="col-md-12">
										{{ form_widget(musicsheetForm.title, { 'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        {{ form_label(musicsheetForm.year, "Année du morceau:", {'label-attr': {'class': 'control-label'}}) }}
                                    </div>
                                    <div class="col-md-12">
                                        {{ form_widget(musicsheetForm.year, { 'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="checkbox">
                                            <label class="control-label">
                                                {{ form_widget(musicsheetForm.actif) }}
                                            Actif
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        {{ form_label(musicsheetForm.composer, "Compositeur du morceau:", {'label-attr': {'class': 'control-label'}}) }}
                                    </div>
                                    <div class="col-md-12">
										{{ form_widget(musicsheetForm.composer, { 'attr': {'class': 'form-control input-sm'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        {{ form_label(musicsheetForm.type, "Type du morceau:", {'label-attr': {'class': 'control-label'}}) }}
                                    </div>
                                    <div class="col-md-12">
                                        {{ form_widget(musicsheetForm.type, { 'attr': {'class': 'form-control input-sm'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_widget(musicsheetForm.uploadedFiles, { 'attr': {'class': 'hidden'}}) }}
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12" style="padding:0;padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">
                                        <div class="btn-group" role="group">
                                            <button class="btn btn-primary btn-sm" type="button" style="width:80px;min-width:80px;max-width:120;" id="formFileLaunch">+ Fichiers</button>
                                            <button class="btn btn-primary btn-sm" type="button" style="width:80px;font-size:12px;max-width:120px;min-width:70px;" id="formTypeLaunch">+ Type</button>
                                            <button class="btn btn-primary btn-sm" type="button" style="width:100px;font-size:12px;max-width:120px;min-width:80px;" id="formInstrumentLaunch">+ Instrument</button>
                                            <button class="btn btn-primary btn-sm" type="button" style="width:100px;min-width:100px;max-width:120;" id="formComposerLaunch">+ Compositeur</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12" style="padding:0px;padding-left:15px;padding-right:15px;padding-bottom:0px;" id="filesToUploadBlock">
                                        <div class="list-group" id="output_files" data-prototype="{{ form_widget(musicsheetForm.parts.vars.prototype)|e }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="btn-group" role="group">
                                            {{ form_widget(musicsheetForm.save, {'attr': {'class': 'btn btn-success btn-sm submit-button'}}) }}
                                            <!--<button class="btn btn-success btn-sm" type="submit">Envoyer </button>-->
                                            <button class="btn btn-info btn-sm" type="reset">Reset </button>
                                        </div>
                                    </div>
                                </div>
                            <div class="hidden">
                                {{ form_rest(musicsheetForm) }}
                            </div>
                            <div id="countParts" data="{{ countParts }}"></div>
							{{ form_end(musicsheetForm) }}
                        </div>
                        <script src="{{ asset('bundles/oselmusicsheet/js/modal.js') }}"></script>

