<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Weekend Osel</title>






<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/spacelab/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="{{ asset('css/Jumbotron-Advanced-Responsive-Tint.css') }}">
<link rel="stylesheet" href="{{ asset('css/list.css') }}">
<link rel="stylesheet" href="{{ asset('css/Login-Center.css') }}">
<link rel="stylesheet" href="{{ asset('css/Login-Form-Dark.css') }}">
<link rel="stylesheet" href="{{ asset('css/lostpwd.css') }}">
<link rel="stylesheet" href="{{ asset('css/Pretty-Registration-Form.css') }}">
<link rel="stylesheet" href="{{ asset('css/Profile-Edit.css') }}">
<link rel="stylesheet" href="{{ asset('css/Projects-Horizontal.css') }}">
<link rel="stylesheet" href="{{ asset('css/styles.css') }}">

