{# src/Osel/MusicsheetBundle/Resources/views/Musicsheet/gestion.html.twig #}

{% extends "OSELCoreBundle:Core:layout.html.twig" %}

{% block title %}
    Ajouter des partitions
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('bundles/score/css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default" style="padding:0;">
                <div class="panel-heading">
                    <h3 class="panel-title">Bibliothèque <i class="glyphicon glyphicon-plus" data-bs-hover-animate="tada" style="float:right;color:rgba(51,51,51,0.55);"></i></h3></div>
                <div class="panel-body" style="padding:20px;/*display:none;*/padding-top:10px;">
                    <div class="form-group">
                        <div class="btn-group" role="group">
                            <button class="btn btn-success" type="button" onclick="window.location.href='{{ path('osel_score_create_score') }}'"><i class="glyphicon glyphicon-plus"></i> Ajouter des partitions</button>
                        </div>
                    </div>
                    <form>
                        <div class="form-group">
                            <div class="input-group"><span class="input-group-addon"> <i class="glyphicon glyphicon-search"></i></span>
                                <input class="form-control" type="search" name="search">
                            </div>
                        </div>
                        <ol class="breadcrumb" style="padding-bottom:0px;">
                            {% if composer is not null %}
                                <li><a href="{{ path('osel_score_gestion', {'letter' : letter }) }}"><span>Compositeurs</span></a></li>
                                {% if score is not null %}
                                    <li><a href="{{ path('osel_score_gestion', {'letter' : letter, 'idComposer': composer.id}) }}"><span>{{ composer.lastname }}</span></a></li>
                                {% endif %}
                            {% endif %}

                        </ol>
                    </form>
                    {% if parts is null and score is null %}
                        <nav class="text-center" style="margin-top:-26px;margin-bottom:-15px;">
                            <ul class="pagination pagination-sm" style="text-align:center;margin-left:auto;margin-right:auto;">
                                <li {% if letter == 'a' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 'a'}) }}">a</a></li>
                                <li {% if letter == 'b' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 'b'}) }}">b</a></li>
                                <li {% if letter == 'c' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 'c'}) }}">c</a></li>
                                <li {% if letter == 'd' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 'd'}) }}">d</a></li>
                                <li {% if letter == 'e' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 'e'}) }}">e</a></li>
                                <li {% if letter == 'f' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 'f'}) }}">f</a></li>
                                <li {% if letter == 'g' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 'g'}) }}">g</a></li>
                                <li {% if letter == 'h' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 'h'}) }}">h</a></li>
                                <li {% if letter == 'i' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 'i'}) }}">i</a></li>
                                <li {% if letter == 'j' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 'j'}) }}">j</a></li>
                                <li {% if letter == 'k' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 'k'}) }}">k</a></li>
                                <li {% if letter == 'l' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 'l'}) }}">l</a></li>
                                <li {% if letter == 'm' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 'm'}) }}">m</a></li>
                                <li {% if letter == 'n' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 'n'}) }}">n</a></li>
                                <li {% if letter == 'o' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 'o'}) }}">o</a></li>
                                <li {% if letter == 'p' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 'p'}) }}">p</a></li>
                                <li {% if letter == 'q' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 'q'}) }}">q</a></li>
                                <li {% if letter == 'r' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 'r'}) }}">r</a></li>
                                <li {% if letter == 's' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 's'}) }}">s</a></li>
                                <li {% if letter == 't' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 't'}) }}">t</a></li>
                                <li {% if letter == 'u' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 'u'}) }}">u</a></li>
                                <li {% if letter == 'v' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 'v'}) }}">v</a></li>
                                <li {% if letter == 'w' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 'w'}) }}">w</a></li>
                                <li {% if letter == 'x' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 'x'}) }}">x</a></li>
                                <li {% if letter == 'y' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 'y'}) }}">y</a></li>
                                <li {% if letter == 'z' %} class="active"{% endif %}><a href="{{ path('osel_score_gestion', {'letter' : 'z'}) }}">z</a></li>
                            </ul>
                        </nav>
                    {% endif %}
                    <ul class="thread-list">
                        {% if parts is not null %}
                            {% for p in parts%}
                                <li class="thread"><span class="time"><i class="fa fa-file-pdf-o" style="font-size:20px;color:rgb(193,0,0);"></i></span><span class="title"><a href="{{ path('osel_score_download_part', {'id' : p.id}) }}" style="color:#666666;">{{ p.originalName }}</a></span><span class="icon"> <a href="javascript:void(0)" class="flag"><i class="glyphicon glyphicon-eye-open"></i></a><a href="javascript:void(0)" class="subscribe"><i class="glyphicon {% if p.actif %}glyphicon-check{% else %}glyphicon-unchecked{% endif %}"></i></a><a href="javascript:void(0)" class="flag"><i class="glyphicon glyphicon-pencil"></i></a></a><a href="javascript:void(0)" class="flag"><i class="glyphicon glyphicon-trash"></i></a></span></li>
                            {% else %}
                                <li>pas de partitionspour ce morceau!!!</li>
                            {% endfor %}
                        {% elseif scores is not null %}
                            {% for s in scores%}
                                <li class="thread"><span class="time">{{ s.nbParts }} pcs</span><span class="title"><a href="{{ path('osel_score_gestion', {'letter' : letter, 'idComposer': s.composer.id, 'idScore': s.id}) }}" style="color:#666666;">{{ s.title }}</a></span><span class="icon"> <a href="javascript:void(0)" class="subscribe"><i class="glyphicon {% if s.actif %}glyphicon-check{% else %}glyphicon-unchecked{% endif %}"></i></a><a href="javascript:void(0)" class="flag"><i class="glyphicon glyphicon-pencil"></i></a></span></li>
                            {% else %}
                                <li>pas de morceaux pour ce compositeur!!</li>
                            {% endfor %}
                        {% else %}
                            {% for c in composers%}
                            <li class="thread"><span class="time">{{ c.nbScores }} pcs</span><span class="title"><a href="{{ path('osel_score_gestion', {'letter' : letter, 'idComposer': c.id}) }}" style="color:#666666;">{{ c.composer }}</a></span><span class="icon"> <a href="javascript:void(0)" class="subscribe"><i class="glyphicon {% if c.actif %}glyphicon-check{% else %}glyphicon-unchecked{% endif %}"></i></a><a href="javascript:void(0)" class="flag"><i class="glyphicon glyphicon-pencil"></i></a></span></li>
                            {% else %}
                                <li>pas de compositeurs à ce non!!!</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
{% endblock %}