{# src/Osel/MusicsheetBundle/Resources/views/Musicsheet/gestion.html.twig #}

{% extends "OSELCoreBundle:Core:layout.html.twig" %}

{% block title %}
    Ajouter des partitions
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default" style="padding:0;">
                <div class="panel-heading">
                    <h3 class="panel-title">Ajouter une partition <i class="glyphicon glyphicon-plus" data-bs-hover-animate="tada" style="float:right;color:rgba(51,51,51,0.55);"></i></h3></div>
                <div class="panel-body" style="padding:20px;display:none;padding-top:10px;">
                        {{ form_start(form, {'attr': {'class': 'bootstrap-form-with-validation'}}) }}
                        <div class="form-group">
                                {{ form_label(form.title, "Titre du morceau:", {'label-attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.title, { 'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.year, "Année du morceau:", {'label-attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.year, { 'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label class="control-label">
                                    {{ form_widget(form.actif) }}
                                    Actif
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.composer, "Compositeur du morceau:", {'label-attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.composer, { 'attr': {'class': 'form-control input-sm'}}) }}
                        </div>
                        <div class="form-group">
                            <input type="file" name="upload[]" id="uploadFile" multiple="" class="hidden"/>
                        </div>
                        <div class="list-group" id="showFiles">
                        </div>
                        <div class="form-group">
                            <div class="btn-group" role="group">
                                <button class="btn btn-success" type="button" id="formFileLaunch"><i class="glyphicon glyphicon-plus"></i> Ajouter fichiers</button>
                                <button class="btn btn-default" type="button">Button 2</button>
                                <button class="btn btn-default" type="button">Button 2</button>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.save, {'attr': {'class': 'btn btn-success btn-sm submit-button'}}) }}
                            <!--<button class="btn btn-success btn-sm" type="submit">Envoyer </button>-->
                            <button class="btn btn-info btn-sm" type="reset">Reset </button>
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default" style="padding:0;">
                <div class="panel-heading">
                    <h3 class="panel-title">Bibliothèque <i class="glyphicon glyphicon-plus" data-bs-hover-animate="tada" style="float:right;color:rgba(51,51,51,0.55);"></i></h3></div>
                <div class="panel-body" style="padding:20px;/*display:none;*/padding-top:10px;">
                    <form>
                        <div class="form-group">
                            <div class="input-group"><span class="input-group-addon"> <i class="glyphicon glyphicon-search"></i></span>
                                <input class="form-control" type="search" name="search">
                            </div>
                        </div>
                        <ol class="breadcrumb" style="padding-bottom:0px;">
                            <li><a><span>Home </span></a></li>
                            <li><a><span>Compositeur </span></a></li>
                        </ol>
                    </form>
                    <nav class="text-center" style="margin-top:-26px;margin-bottom:-15px;">
                        <ul class="pagination pagination-sm" style="text-align:center;margin-left:auto;margin-right:auto;">
                            <li><a>a</a></li>
                            <li><a>b</a></li>
                            <li><a>c</a></li>
                            <li><a>d</a></li>
                            <li><a>f</a></li>
                            <li><a>g</a></li>
                            <li><a>h</a></li>
                            <li><a>i</a></li>
                            <li><a>j</a></li>
                            <li><a>k</a></li>
                            <li><a>l</a></li>
                            <li><a>m</a></li>
                            <li><a>n</a></li>
                            <li><a>o</a></li>
                            <li><a>p</a></li>
                            <li><a>q</a></li>
                            <li><a>r</a></li>
                            <li><a>s</a></li>
                            <li><a>t</a></li>
                            <li><a>u</a></li>
                            <li><a>v</a></li>
                            <li><a>w</a></li>
                            <li><a>x</a></li>
                            <li><a>y</a></li>
                            <li><a>z</a></li>
                        </ul>
                    </nav>
                    <ul class="thread-list">
                        <li class="thread"><span class="time">Apr 21</span><span class="title"><a href="#" style="color:#666666;">Maecenas finibus est nec pretium molestie. </a></span><span class="icon"> <a href="javascript:void(0)" class="subscribe"><i class="glyphicon glyphicon-check"></i></a><a href="javascript:void(0)" class="flag"><i class="glyphicon glyphicon-flag"></i></a></span></li>
                        <li
                                class="thread"><span class="time">Apr 21</span><span class="title"><a href="#" style="color:#666666;">Maecenas finibus est nec pretium molestie. </a></span><span class="icon"> <a href="javascript:void(0)" class="subscribe"><i class="glyphicon glyphicon-check"></i></a><a href="javascript:void(0)" class="flag"><i class="glyphicon glyphicon-flag"></i></a></span></li>
                        <li
                                class="thread"><span class="time">Apr 21</span><span class="title"><a href="#" style="color:#666666;">Maecenas finibus est nec pretium molestie. </a></span><span class="icon"> <a href="javascript:void(0)" class="subscribe"><i class="glyphicon glyphicon-check"></i></a><a href="javascript:void(0)" class="flag"><i class="glyphicon glyphicon-flag"></i></a></span></li>
                        <li
                                class="thread"><span class="time">Apr 21</span><span class="title"><a href="#" style="color:#666666;">Maecenas finibus est nec pretium molestie. </a></span><span class="icon"> <a href="javascript:void(0)" class="subscribe"><i class="glyphicon glyphicon-check"></i></a><a href="javascript:void(0)" class="flag"><i class="glyphicon glyphicon-flag"></i></a></span></li>
                        <li
                                class="thread"><span class="time">Apr 21</span><span class="title"><a href="#" style="color:#666666;">Maecenas finibus est nec pretium molestie. </a></span><span class="icon"> <a href="javascript:void(0)" class="subscribe"><i class="glyphicon glyphicon-check"></i></a><a href="javascript:void(0)" class="flag"><i class="glyphicon glyphicon-flag"></i></a></span></li>
                        <li
                                class="thread"><span class="time">Apr 21</span><span class="title"><a href="#" style="color:#666666;">Maecenas finibus est nec pretium molestie. </a></span><span class="icon"> <a href="javascript:void(0)" class="subscribe"><i class="glyphicon glyphicon-check"></i></a><a href="javascript:void(0)" class="flag"><i class="glyphicon glyphicon-flag"></i></a></span></li>
                        <li
                                class="thread"><span class="time">Apr 21</span><span class="title"><a href="#" style="color:#666666;">Maecenas finibus est nec pretium molestie. </a></span><span class="icon"> <a href="javascript:void(0)" class="subscribe"><i class="glyphicon glyphicon-check"></i></a><a href="javascript:void(0)" class="flag"><i class="glyphicon glyphicon-flag"></i></a></span></li>
                        <li
                                class="thread"><span class="time">Apr 21</span><span class="title"><a href="#" style="color:#666666;">Maecenas finibus est nec pretium molestie. </a></span><span class="icon"> <a href="javascript:void(0)" class="subscribe"><i class="glyphicon glyphicon-check"></i></a><a href="javascript:void(0)" class="flag"><i class="glyphicon glyphicon-flag"></i></a></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="{{ asset('bundles/score/js/fileUpload.js') }}"></script>
    <script>
        $(document).ready(function() {
            $("#uploadFile").on("change", function () {


                var numFiles = false;
                if($(this).get(0).files.length > 0){
                    numFiles = true;
                }
                for (var i = 0; i < this.files.length; ++i) {
                    var fileList = jQuery('#showFiles');
                    var filename = this.files[i].name;
                    var filesize = this.files[i].size;
                    var extension = filename.replace(/^.*\./, '').toLowerCase();
                    if(extension == 'pdf' && filesize < 5000000)
                    {
                        var formData = new FormData();
                        var html = "<div class=\"row\"><div class=\"col-md-2 col-sm-2\"><i class=\"fa fa-file-pdf-o\" style=\"font-size:35px;color:rgb(193,0,0);\"></i></div><div class=\"col-md-10\"><span>" + filename + " - " + filesize + "</span><span> <i id=\"icon" + i + "\" class=\"fa fa-check hidden\" style=\"font-size:20px;color:green;\"></i></span> <div style=\"padding-top:10px;\"><progress id=\"progress" + i + "\" value=\"0\" min=\"0\" max=\"100\" style=\"width:100%;\"></progress></div></div></div>";

                        var listItem = jQuery("<a class=\"list-group-item\" id='file" + i + "'></a>").html(html);

                        listItem.appendTo(fileList);


                        formData.append(this.name, this.files[i]);
                        $(this).upload("{{ path('osel_score_upload_ajax') }}", function (success) {
                            console.log("done " + i);
                        }, $("#progress" + i), formData, numFiles, $("#icon" + i));
                    }
                    else
                    {
                        var html = "<div class=\"row\"><div class=\"col-md-2 col-sm-2\"><i class=\"fa fa-remove\" style=\"font-size:35px;color:rgb(255,0,0);\"></i></div><div class=\"col-md-10\"><span>" + filename + " - " + filesize + "</span><span><i id=\"icon" + i + "\" class=\"fa fa-check hidden\" style=\"font-size:60px;color:rgb(193,0,0);\"></i></span> <div style=\"padding-top:10px;\"><span><strong>Ceci n\'est pas un fichier pdf ou le fichier est plus grand que 50Mb!!!</strong></span></div></div></div>";

                        var listItem = jQuery("<a class=\"list-group-item\" id='file" + i + "'></a>").html(html);

                        listItem.appendTo(fileList);
                    }

                }
            });


            $("#formFileLaunch").click(function () {
                $("#uploadFile").click();
            });
        });
    </script>
{% endblock %}