{# src/Osel/MusicsheetBundle/Resources/views/Musicsheet/gestion.html.twig #}

{% extends "OSELCoreBundle:Core:layout.html.twig" %}

{% block title %}
    Ajouter des partitions
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('bundles/score/css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default" style="padding:0;">
                <div class="panel-heading">
                    <h3 class="panel-title">Ajouter une partition <i class="glyphicon glyphicon-plus" data-bs-hover-animate="tada" style="float:right;color:rgba(51,51,51,0.55);"></i></h3></div>
                <div class="panel-body" style="padding:20px;padding-top:10px;">
                    <div class="form-group">
                        <input type="file" name="upload[]" id="uploadFile" multiple="" class="hidden"/>
                    </div>
                    <div class="form-group">
                        <div class="btn-group" role="group">
                            <button class="btn btn-warning" type="button" id="formFileLaunch"><i class="fa fa-plus"></i> Ajouter fichiers</button>
                            <button class="btn btn-success" type="submit" id="confirmUpload"><i class="fa fa-arrow-circle-o-up"></i> Envoyer</button>
                        </div>
                    </div>
                    <div class="list-group" id="showFiles" {% if parts is not null %}style="display:block;"{% endif %}>
                        {% if parts is not null %}
                            {% for part in parts %}
                                <a class="list-group-item" id="item{{ part.id }}">
                                    <div class="row" id="file{{ part.id }}">
                                        <div class="col-md-2 col-sm-2">
                                            <i class="fa fa-file-pdf-o" style="font-size:35px;color:rgb(193,0,0);"></i>
                                        </div>
                                        <div class="col-md-8">
                                            <span><input type="text" data-val="{{ part.originalName }}" value="{{ part.originalName }}" data-id="{{ part.id }}" id="changeName{{ part.id }}" style="width: 100%;"/></span>
                                        </div>
                                        <div class="col-md-2">
                                            <button class="btn btn-danger visible-xs-inline visible-sm-inline visible-md-inline visible-lg-inline" type="button"  data-href = "{{ path('osel_score_delete_part', {'id': part.id}) }}" data-toggle="modal" data-target="#confirm-delete">Supprimer</button>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ asset('bundles/score/js/fileUpload.js') }}"></script>
    <script>
        function uniqId(number) {
            return Math.round((new Date().getTime() + (Math.random() * 100)) * number);
        }

        $(document).ready(function() {

            $("#formFileLaunch").click(function () {
                    $("#uploadFile").click();
            });

            $("input[type=\"text\"]").keyup(function modifyName() {
                if($(this).val() !== '' && $(this).val() !== $(this).attr("data-val")) {
                    var idtext = $(this).attr("data-id");
                    $(this).attr("data-val", $(this).val());
                    var container = $(this);
                    var data = $(this).val();
                    var dataid = $(this).attr('data-id');
                    var $href = Routing.generate('osel_score_modify_part', {
                        'id': dataid
                    });

                    $('<div></div>').load($href + ' form', function () {
                        //set form
                        var $form = $(this).children('form');

                        //set checkbox
                        var $cb = $form.find("input[type=\"text\"]");

                        //toggle
                        $cb.val(data);


                        // form action
                        var $url = $href;


                        //set data
                        var $data = $form.serialize();

                        $.ajax({
                            url: $url,
                            data: $data,
                            method: 'post',
                            dataType: 'json',
                            cache: false,
                            success: function (obj) {
                                //console.log("done " + obj.id);
                            },
                            complete: function () {
                            },
                            error: function (err) {

                            }
                        });
                    });
                }
            });

            $("#confirmUpload").click(function(){
                window.location.replace('{{ path('osel_score_gestion',{
                    "letter" : letter
                }) }}');
            });

            $("#uploadFile").on("change", function () {

                var fileList = jQuery('#showFiles');
                fileList.show();

                var numFiles = false;

                if($(this).get(0).files.length > 0){

                    numFiles = true;

                    for (var i = 0; i < $(this).get(0).files.length; ++i) {
                        var filename = $(this).get(0).files[i].name;
                        var filesize = $(this).get(0).files[i].size;

                        var extension = filename.replace(/^.*\./, '').toLowerCase();
						console.log(extension);
                        var listItem = null;

                        if(extension === 'pdf' && filesize < 50000000)
                        {
                            var formData = new FormData();
                            var unique = uniqId(i);
                            listItem = jQuery("<a class=\"list-group-item\" id=\"item" + unique + "\"></a>");
                            var row = jQuery("<div class=\"row\" id=\"file" + unique + "\"></div>");
                            var columnone = jQuery("<div class=\"col-md-2 col-sm-2\"></div>").html("<i class=\"fa fa-file-pdf-o\" style=\"font-size:35px;color:rgb(193,0,0);\"></i>");
                            var columntwo = jQuery("<div class=\"col-md-8\"></div>");
                            var spanone = jQuery("<span></span>");
                            var inputtext = jQuery("<input type=\"text\" data-val=\"" + filename + "\" value=\"" + filename + "\" style=\"width: 100%;\"/>");
                            var iconcheck = jQuery("<span> <i id=\"icon" + unique + "\" class=\"fa fa-check hidden\" style=\"font-size:20px;color:green;\"></i></span>");
                            var progressbar = jQuery("<div style=\"padding-top:10px;\"></div>").html("<progress id=\"progress" + unique + "\" value=\"0\" min=\"0\" max=\"100\" style=\"width:100%;\"></progress>");
                            //var progressbar = jQuery("<div style=\"padding-top:10px;\" style=\"width: 100%;\"></div>").html("<div id=\"progress" + unique + "\"  class=\"progress\"><div class=\"progress-bar progress-bar-success progress-bar-striped active\" aria-valuenow=\"0\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width: 0%;\">0%</div> </div>");

                            inputtext.appendTo(spanone);
                            spanone.appendTo(columntwo);
                            iconcheck.appendTo(columntwo);
                            progressbar.appendTo(columntwo);

                            columnone.appendTo(row);
                            columntwo.appendTo(row);

                            row.appendTo(listItem);

                            listItem.appendTo(fileList);



                            formData.append($(this).get(0).name, $(this).get(0).files[i]);
                            var uploadPath = Routing.generate('osel_score_upload_ajax', {
                                'id': {{ score }}
                            });
                            $(this).upload(uploadPath, function (success) {
                                //console.log("done " + unique);
                            }, $("#progress" + unique), formData, numFiles, $("#icon" + unique), $("#file" + unique));
                        }
                        else
                        {
                            var html = "<div class=\"row\"><div class=\"col-md-2 col-sm-2\"><i class=\"fa fa-remove\" style=\"font-size:35px;color:rgb(255,0,0);\"></i></div><div class=\"col-md-10\"><span>" + filename + " - " + filesize + "</span><span><i id=\"icon" + i + "\" class=\"fa fa-check hidden\" style=\"font-size:60px;color:rgb(193,0,0);\"></i></span> <div style=\"padding-top:10px;\"><span><strong>Soit ce fichier n'est pas un pdf soit le fichier est plus grand que 50Mb!!!</strong></span></div></div></div>";

                            listItem = jQuery("<a class=\"list-group-item\" id='item" + i + "'></a>").html(html);

                            listItem.appendTo(fileList);
                        }
                    }
                }
            });

        });
    </script>
{% endblock %}