{# src/Osel/UserBundle/Resources/views/User/view.html.twig #}

{% extends "OSELCoreBundle:Core:layout.html.twig" %}

{% block title %}
    Lieu de weekend OSEL: {{ lieu.title }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/Jumbotron-Advanced-Responsive-Tint.css') }}">


{% endblock %}

{% block body %}
    <section class="bg-img-responsive" style="background-image:url('{{ asset(lieu.imgPath) }}');">
        <div class="jumbotron" style="padding:0px;">
            <div class="container tint">
                <h1 style="text-align:center;"><strong>{{ lieu.title }}</strong></h1>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2 col-sm-6 col-xs-12">
                        <h4 style="text-align:right;"><strong>Email de contact: </strong></h4>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-10">
                        <h4 style="text-align:left;"><em>{{ lieu.email  }}</em></h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-md-offset-2 col-sm-6 col-xs-12">
                        <h4 style="text-align:right;"><strong>Numéro de contact: </strong></h4>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-10">
                        <h4 style="text-align:left;"><em>{{ lieu.phone  }}</em></h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-md-offset-2 col-sm-6 col-xs-12">
                        <h4 style="text-align:right;"><strong>Adresse: </strong></h4>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-10">
                        <h4 style="text-align:left;"><em>{{ lieu.street}} {{ lieu.number }}<br> {{ lieu.postal }} {{ lieu.city }} {{ lieu.country }}</em></h4>
                    </div>
                </div>

                <h4 style="text-align:center;"><strong>Infos sur le lieu:</strong></h4>

                <div style="text-align:center; color:black; font-size: medium"><em>{% autoescape %}{{ lieu.description|raw }}{% endautoescape %}</em></div><br><br>

                <h4 style="text-align:center;"><strong>Notes:</strong></h4>
                <div style="text-align:center; color:black; font-size: medium">{% autoescape %}{{ lieu.comment|raw }}{% endautoescape %}</div><br><br>
            </div>
        </div>
    </section>



{% endblock %}