{# src/Osel/CoreBundle/Resources/views/layout.html.twig #}
<!DOCTYPE html>
		<html lang="fr">
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
			<title>Weekend Osel</title>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/spacelab/bootstrap.min.css">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
			<link rel="stylesheet" href="{{ asset('css/styles.css') }}">

			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
			<script src="{{ asset('bundles/oselcore/js/core.js') }}"></script>

			<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
			<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
			
			{% block head %}{% endblock %}
			
		</head>
		
		<body>
		
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header {% if selectedPage == 'home' %}active{% endif %}">
						<a class="navbar-brand navbar-link" href="{{ path('osel_core_home') }}" style="background-image:url(&quot;{{ asset('bundles/oselcore/img/LOGO_-_TOUR_ITALIANO_2017_50x50.jpg') }}&quot;);width:50px;"></a>
						<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
					</div>
					<div class="collapse navbar-collapse" id="navcol-1">
						<ul class="nav navbar-nav">
						
							{% if is_granted('ROLE_USER') %}
								<li class="dropdown {% if selectedPage == 'infos' %}active{% endif %}"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Infos pratiques <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li role="presentation"><a href="{{ path('osel_core_agenda') }}">Agenda </a></li>
										<li role="presentation"><a href="{{ path('osel_info_redirections') }}">Liste de mails</a></li>
                                        {% if is_granted('ROLE_WEEKEND') %}
											<li role="presentation"><a href="{{ path('osel_info_redirections_gestion') }}">Gestion des infos pratique</a></li>
										{% endif %}
									</ul>
								</li>
							{% endif %}
							
							{% if is_granted('ROLE_SECRETAIRE') %}
								<li class="dropdown {% if selectedPage == 'membres' %}active{% endif %}"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Membres <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li role="presentation"><a href="{{ path('osel_user_index') }}">Liste Membres</a></li>
										<li role="presentation"><a href="{{ path('register') }}">Ajouter un membre</a></li>
									</ul>
								</li>
							{% elseif is_granted('ROLE_USER') %}
								<li {% if selectedPage == 'membres' %}class="active"{% endif %} role="presentation"><a href="{{ path('osel_user_index') }}">Membres</a></li>
							{% endif %}
							
							{% if is_granted('ROLE_PARTITION') %}
								<li class="dropdown {% if selectedPage == 'partitions' %}active{% endif %}"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Partitions <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li role="presentation"><a href="{{ path('osel_musicsheet_index') }}">Liste partitions</a></li>
										<li role="presentation"><a href="{{ path('osel_musicsheet_gestion') }}">Gestion partitions</a></li>
									</ul>
								</li>
							{% elseif is_granted('ROLE_USER') %}
								<li {% if selectedPage == 'partitions' %}class="active"{% endif %} role="presentation"><a href="{{ path('osel_musicsheet_index') }}">Partitions </a></li>
							{% endif %}
							
							{% if is_granted('ROLE_CA') %}
								<li class="dropdown {% if selectedPage == 'documents' %}active{% endif %}"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Documents <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li role="presentation"><a href="{{ path('construction') }}">Liste documents</a></li>
										<li role="presentation"><a href="{{ path('construction') }}">Gestion des documents</a></li>
									</ul>
								</li>
							{% endif %}
							
							{% if is_granted('ROLE_USER') %}
								<li class="dropdown {% if selectedPage == 'weekend' %}active{% endif %}"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Weekend<span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li role="presentation"><a href="{{ path('osel_event_view') }}">Infos Weekend</a></li>
										<li role="presentation"><a href="{{ path('osel_event_add_inscription') }}">Inscription au weekend</a></li>
										{% if is_granted('ROLE_WEEKEND') %}
											<li role="presentation"><a href="{{ path('osel_event_add') }}">Créer un weekend</a></li>
											<li role="presentation"><a href="{{ path('osel_event_list') }}">Liste des weekends</a></li>
											<li role="presentation"><a href="{{ path('osel_event_list_places') }}">Endroits de weekends</a></li>
											<li role="presentation"><a href="{{ path('osel_event_add_place') }}">Ajouter endroit de weekend</a></li>
										{% endif %}
									</ul>
								</li>
							{% endif %}
							
							{% if is_granted('ROLE_ANIMATION') %}
								<li class="dropdown {% if selectedPage == 'medias' %}active{% endif %}"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="{{ path('construction') }}">Multimédias<span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li role="presentation"><a href="{{ path('construction') }}">Liste des médias</a></li>
										<li role="presentation"><a href="{{ path('construction') }}">Ajouter des médias</a></li>
									</ul>
								</li>
							{% elseif is_granted('ROLE_USER') %}
								<li {% if selectedPage == 'medias' %}class="active"{% endif %} role="presentation"><a href="{{ path('construction') }}">Multimédias </a></li>
							{% endif %}
							
							{% if is_granted('ROLE_USER') and is_granted('ROLE_ADMIN') == false %}
								<li {% if selectedPage == 'personnel' %}class="active"{% endif %} role="presentation"><a href="{{ path('osel_user_view', {'id': app.user.id}) }}">Infos Personnelles</a></li>
							{% endif %}
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li role="presentation" style="float:right;background-color:#c2bcbc;"><a href="{{ path('logout') }}">Deconnexion </a></li>
						</ul>
					</div>
				</div>
			</nav>


			
			
        		{% block body %}{% endblock %}


            {% block script %}{% endblock %}

			<!-- on affiche les notices-->
			<div style="position: absolute; top: 0; width: 100%; z-index: 999;" id="messages">
                {% for message in app.session.flashbag.get('notice') %}
					<div class="alert alert-success alert-dismissable">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Notice: </strong>{{ message }}
					</div>
                {% endfor %}



				<!-- on affiche les erreurs-->
                {% for message in app.session.flashbag.get('ERROR') %}
					<div class="alert alert-danger alert-dismissable">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Notice: </strong>{{ message }}
					</div>
                {% endfor %}
			</div>
			{% for message in app.session.flashbag.get('success') %}
					<div id="successModal" class="successmodal">
						  <div class="modal-content">
							<span class="closeModal">&times;</span>
							<h2>{{ message }}</2>
						  </div>
						</div>
                {% endfor %}
			
			
		</body>
		</html>

