{# src/Osel/MusicsheetBundle/Resources/views/Musicsheet/gestion.html.twig #}

{% extends "OSELCoreBundle:Core:layout.html.twig" %}

{% block title %}
    Documents
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('bundles/score/css/style.css') }}">
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default" style="padding:0;">
                <div class="panel-heading">
                    <h3 class="panel-title">Bibliothèque <i class="glyphicon glyphicon-plus" data-bs-hover-animate="tada" style="float:right;color:rgba(51,51,51,0.55);"></i></h3></div>
                <div class="panel-body" style="padding:20px;padding-top:10px;">
                    <div class="form-group">
                        <div class="btn-group" role="group">
                            <button class="btn btn-success" type="button" onclick="window.location.href='{{ path('osel_documents_add_dir') }}'"><i class="glyphicon glyphicon-plus"></i>Nouveau Dossier</button>
                            <button class="btn btn-success" type="button" onclick="window.location.href='{{ path('osel_documents_add_file') }}'"><i class="glyphicon glyphicon-plus"></i>Ajouter un fichier</button>
                        </div>
                    </div>
                    <form>
                        <div class="form-group">
                            <div class="input-group"><span class="input-group-addon"> <i class="glyphicon glyphicon-search"></i></span>
                                <input class="form-control" type="search" name="search" id="searchComposer">
                            </div>
                        </div>
                        <ol class="breadcrumb" style="padding-bottom:0px;">

                        </ol>
                    </form>
                    <ul class="thread-list" id="composerList">

                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="{{ asset('bundles/score/js/activate.js') }}"></script>
    <script src="{{ asset('bundles/score/js/search.js') }}"></script>
{% endblock %}