{# src/Osel/UserBundle/Resources/views/Security/login.html.twig #}
{% extends "OSELCoreBundle:Core:base.html.twig" %}

{% block head %}{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.message }}</div>
      {% endif %}
        <div class="login-dark" style="background-image:url('{{ asset('bundles/oseluser/img/P1080114.JPG') }}')';">
            <form method="post" style="background-color:rgba(227,233,241,0.7);" action="{{ path('login_check') }}">
                <h2 class="sr-only">Login Form</h2>
                <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
                <div class="form-group">
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" id="password" name="_password" placeholder="Password">
                </div>

                <div class="form-group">

                    <button class="btn btn-primary btn-block" type="submit">Log In</button>
                </div><a href="{{ path('send_reset_mail') }}" class="forgot">J'ai oublié mon mot de passe!</a></form>
        </div>

        <div style="position: absolute; top: 0; width: 100%; z-index: 999;" id="messages">
        {% for message in app.session.flashbag.get('notice') %}
            <div class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Notice: </strong>{{ message }}
            </div>
        {% endfor %}



        <!-- on affiche les erreurs-->
        {% for message in app.session.flashbag.get('ERROR') %}
            <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Notice: </strong>{{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}{% endblock %}