{% extends "OSELCoreBundle:Core:base.html.twig" %}

{% block head %}{% endblock %}

{% block body %}
    <div class="login-card">
        <div class="page-header">
            <h2 class="text-center">Mot de passe oublié?</h2>
        </div>
        <img class="img-responsive profile-img-card" src="../img/avatar_2x.png">
        <p class="profile-name-card"> </p>
        {{ form_start(form, {'attr': {'class': 'form-signin'}}) }}

        <div class="form-group">
            {{ form_label(form.mail, "Adresse mail:", {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
        </div>

        {{ form_widget(form.Envoyer, {'attr': {'class': 'btn btn-primary btn-block btn-lg btn-signin'}}) }}


        {{ form_rest(form) }}
        {{ form_end(form) }}

        <a href="{{ path('osel_core_home') }}" class="forgot-password">Login</a>
    </div>
{% endblock %}

{% block script %}{% endblock %}

